@page "/"
@model CursusCase.FrontEnd.Pages.IndexModel
<h1>Welkom bij de cursus administratie tool</h1>
<br />
<p>
    Op het tabblad 'Planning' kun je eenvoudig navigeren tussen verschillende weken en jaren om de cursussen te bekijken.
    Selecteer een specifieke week en jaar om de bijbehorende cursussen te tonen. 
    Daarnaast kun je een specifieke periode kiezen door een begin- en einddatum in te voeren. 
    De tabel toont de cursustitel, start- en einddatum, cursuscode en weeknummer van elke cursus.
</p>
<br />
<p>
    Als je nieuwe planningen wilt toevoegen, ga dan naar het tabblad 'Importeren'. 
    Hier kun je een CSV-bestand uploaden met de benodigde cursusgegevens. 
    Nadat je het bestand hebt geüpload, wordt de planning geanalyseerd en worden de cursussen weergegeven in een overzicht. 
    Je kunt de planning opslaan en eventuele foutmeldingen bekijken.
</p>

